@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sitka:
        Sitka, "Sitka Text", "Sitka Small", "Sitka Subheading", "Segoe UI",
        sans-serif;

    --color-primary: #004a53;
    --color-secondary: #f56824;
    --color-accent: #fdaf22;
    --color-primary2:#366049;
    --color-black: #000f11;
    --color-more: #00000080;
    --color-active:#1AAE50;
    --color-pageColor: #CBCCCD;
    --color-accent-hover:#FECA6C;
    --color-search: #8E8D93;
    --color-school-badge:#FDE1D3;
    --color-school-text:#000F11;
    --color-school-btn:#CCDBDD;
    --color-superadmin-bg:#F7F7FA;
    --color-user-date:#808191;
    --color-messageBg:#DBEAFE;
    --color-annoucementBg:#D6FFE6;
    --color-recipentBg:#FFEDD4;
    --color-communicationBtn:#AAC3C6;
    --color-communicationSearch: #F5F5F5;
    --color-communicationText: #1C1D1D;
    --color-bulkBg:#F9FAFB;
    --color-bulkGreyText:#AAADAD;
    --color-grey100:#797979;
    --color-grey200:#C4C4C4;
    --color-blue50:#EFF6FF;
    --color-blue100:#002B99;
    --color-purple50:#F3EEFF;
    --color-purple100:#3600B0;
    --color-purple200:#CB30E0;
    --color-green50:#F1FFF6;
    --color-green100:#009689;
    --color-green200:#00762B;
    --color-grey300:#E0E0E0;
    --color-grey400:#969696;
    --color-grey500:#AEBACA;
    --color-purple300:#ECEBF1;
    --color-black50:#2F2F2F;
    --color-red50:#FF0004;
    --color-black100:#1C1D1D;
    --color-blue200:#2E8FFF;
    --color-orange50:#F89A6D;
    --color-grey600:#C4C4C4;
    --color-purple400:#F4F7FC;
    --color-green300:#93FD22;
    --color-grey600:#DEDEDE;
    --color-black200:#404040;
    --color-grey700:#CBCCCD;
    --color-grey800:#78787833;
    --color-black300:#000F11;


    --font-fredoka: "Fredoka", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-mulish: "Mulish", sans-serif;
    --font-quicksand: "Quicksand", sans-serif;

    --text-h1: 56px;
    --text-h1--line-height: 61.1px;
    --text-h1--font-weight: 600;

    --text-h2: 48px;
    --text-h2--line-height: 52.8px;
    --text-h2--font-weight: 600;

    --text-h3: 40px;
    --text-h3--line-height: 44px;
    --text-h3--font-weight: 600;

    --text-h4: 32px;
    --text-h4--line-height: 35.2px;
    --text-h4--font-weight: 600;

    --text-h5: 24px;
    --text-h5--line-height: 26.4px;
    --text-h5--font-weight: 600;

    --text-h6: 20px;
    --text-h6--line-height: 22px;
    --text-h6--font-weight: 600;

    --text-body1: 20px;
    --text-body2: 18px;
    --text-body3: 16px;
    --text-body4: 14px;
    --text-body5: 12px;

    --shadow-auth: 6px 6px 54px 0 #00000026 ;
}

.donut-chart {
  background: conic-gradient(
    #F97316 0% 50%,     /* female */
    #0B3C49 50% 100%    /* male */
  );
}

