@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-sitka: "Sitka", Cambria, Georgia, "Times New Roman", Times, serif;

    --font-fredoka: "Fredoka", sans-serif;
    --color-primary: #004a53;
    --color-secondary: #f56824;
    --color-accent: #fdaf22;
    --color-black: #000f11;

    --text-h1: 56px;
    --text-h1--line-height: 61.1px;
    --text-h1--font-weight: 600;

    --text-h2: 48px;
    --text-h2--line-height: 52.8px;
    --text-h2--font-weight: 600;

    --text-h3: 40px;
    --text-h3--line-height: 44px;
    --text-h3--font-weight: 600;

    --text-h4: 32px;
    --text-h4--line-height: 35.2px;
    --text-h4--font-weight: 600;

    --text-h5: 24px;
    --text-h5--line-height: 26.4px;
    --text-h5--font-weight: 600;

    --text-h6: 20px;
    --text-h6--line-height: 22px;
    --text-h6--font-weight: 600;

    --text-body1: 20px;
    --text-body2: 18px;
    --text-body3: 16px;
    --text-body4: 14px;
    --text-body5: 12px;
}
